{
  "extends": ["airbnb-base", "plugin:node/recommended"],
  "plugins": [
    "mocha"
  ],
  "rules": {
    "no-console": off,
    "comma-dangle": [error, always-multiline, {functions: never}]
  },
  "env": {
    "mocha": true
  },
  overrides: [
    {
      files: "*.test.js",
      rules: {
        "node/no-unpublished-require": "off",
        "mocha/no-exclusive-tests": "error"
      }
    }
  ]
}
